*{
	margin:0px;
	padding:0px;
}
#titlediv{
	height: 36px;
	padding-top: 10px;
	padding-left: 40px;
	background: url(../image/left_nav_title.gif) no-repeat;
	color:white;	
}
ul {
	width: 183px;
	list-style:inside url(../image/left_cur.jpg);
}
li{

	padding-left: 20px;
	background:url(../image/left_nav_txt.gif) ;
	padding-bottom: 10px;
}
.m{
	padding-left: 15px;
	width: 60px;
	border: #FF0000;
}
a{
	text-decoration: none;
}
a.checked{
	color: red;
}
#footerdiv{
	height: 35px;
	background: url(../image/left_nav_bottom.gif) no-repeat;
}

